
<section >
<nav>

  <h1>
    HotelsAndHostels
  </h1>
  <hr><br>
<input type="text" [(ngModel)]="city" placeholder="City" class="form-control"><br>
<label class="container d-inline" >
  Hotel <input type="checkbox" [(ngModel)]="hotel" > <span class="checkmark"></span> 
  </label>
<label class="container d-inline" >
Hostel <input type="checkbox" [(ngModel)]="hostel" > <span class="checkmark"></span> 
</label><br><br>

<div *ngFor="let reg of regions; let i = index">
  <label class="container d-inline" >
    {{reg}} <input type="checkbox" [(ngModel)]="selectedRegions[i]" > <span class="checkmark"></span> 
    </label>
</div>
<br>

<ng5-slider [(value)]="minPrice" [(highValue)]="maxPrice" [options]="optionsPrice"></ng5-slider>  <br><br>


<label class="container">
  VIP <input type="checkbox" [(ngModel)]="vip" > <span class="checkmark"></span> 
  </label>


<ng5-slider [(value)]="minBeds" [(highValue)]="maxBeds" [options]="optionsBeds"></ng5-slider>  <br><br>

  <ng5-slider [(value)]="minSize" [(highValue)]="maxSize" [options]="optionsSizes"></ng5-slider>  <br><br>

  <ng5-slider [(value)]="minStars" [(highValue)]="maxStars" [options]="optionsStars"></ng5-slider>  <br><br>

  <ng5-slider [(value)]="minScore" [(highValue)]="maxScore" [options]="optionsScore"></ng5-slider>  <br><br>

  <ng5-slider [(value)]="minComments" [(highValue)]="maxComments" [options]="optionsComments"></ng5-slider>  <br><br>



<button (click)="SearchButton()" class="btn btn-primary btn-block" >Search</button><br><br>
</nav>

  <article>
    <input class="btn btn-success" *ngIf='myHaH' routerLink="/formhah" value='Register Hotel Or Hostel' type='button' />
    <h2 *ngIf='myHaH'>My Hotel and hostel rooms:</h2>
    <table class="table  table-striped" matSort (matSortChange)="sortData($event)">
      <thead style="background:dodgerblue;" class="text-white">
        <tr>
          <th scope="col">Type</th>
          <th scope="col" mat-sort-header="name" >Name</th>
          <th scope="col" mat-sort-header="stars" >Stars</th>
          <th scope="col" mat-sort-header="city" >City</th>
          <th scope="col" mat-sort-header="region" >Region</th>
          <th scope="col" mat-sort-header="avgScore">Score</th>
          <th scope="col" mat-sort-header="commentCount">Comments</th>
          <th scope="col" *ngIf='myHaH'>Room Number</th>
          <th scope="col" mat-sort-header="RoomBeeds" >Room Beeds</th>
          <th scope="col" mat-sort-header="RoomSize">Room Size</th>
          <th scope="col" mat-sort-header="RoomVip">Room Vip</th>
          <th scope="col" mat-sort-header="RoomPrice">Room Price</th>
          <th scope="col" mat-sort-header="extras" >Extras</th>
          <th scope="col" mat-sort-header="views" >Popularity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of HaH">
   
          <td>{{item.type}}</td>
          <td>{{item.name}}</td>
          <td>{{item.stars}}</td>
          <td>{{item.city}}</td>
          <td>{{item.region}}</td>
          <td>{{item.avgScore}}</td>
          <td>{{item.commentCount}}</td>
          <td *ngIf='myHaH'>{{item.roomid}}</td>
          <td>{{item.RoomBeds}}</td>
          <td>{{item.RoomSize}}</td>
          <td>{{item.RoomVip}}</td>
          <td>{{item.RoomPrice}}</td>
          <td>{{item.extras}}</td>
          <td> <button type="button" class="btn btn-primary " (click)="seeDetails(item.id,item.roomid)">Details</button>
            <input class="btn btn-info" *ngIf='myHaH' (click)='editHaH(item.id,item.roomid)' value='Edit' type='button' />
          </td>
        </tr>
      </tbody>
    </table>
  </article>
</section>
