
<div class="container">
  <h1>Edit</h1>

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name"
           required
           [(ngModel)]="user.name" name="name">
  </div>

  <div class="form-group">
    <label for="surname">Surname</label>
    <input type="text" class="form-control" id="surname"
           required minlength="4"
           [(ngModel)]="user.surname" name="surname">
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email"
           required
           [(ngModel)]="user.email" name="email">
  </div>

  <div class="form-group" >
  Change password
  <input type="checkbox" [(ngModel)]="changePassword"/>
  </div>

  <div class="form-group" *ngIf="changePassword">

    <div class="form-group">
      <label for="changePassword">New password</label>
      <input type="password" class="form-control" id="changePassword"
             required
             [(ngModel)]="newPassword" name="changePassword">
    </div>

  </div>

  <button type="button" class="btn btn-success" (click)="Save()">Save</button>

</div>


