<div class="container">
  <h1 *ngIf="hasAdminRole && myReservations === false">Reservations:</h1>
  <h1 *ngIf="hasHotelierRole">Reservations in my hotels and hostels:</h1>
  <h1 *ngIf="hasUserRole">My Reservations:</h1>
  <div *ngFor="let hotel of hotels">

    <hr class="hotelHr">

    <h2  style="text-align: center">{{hotel.Type}}: {{hotel.Name}}</h2>

    <hr class="hotelHr">

    <div *ngFor="let room of hotel.Rooms">

      <h3 style="text-align: center">Room number: {{room.Number}}</h3>
      <table class="table table-striped table-bordered table-hover table-condensed">

        <tr>
          <th>From</th>
          <th>To</th>
          <th>Cost</th>
          <th>Status</th>
          <th>Cancel Reservation</th>
          <th *ngIf="hasAdminRole && myReservations === false">Delete Reservation</th>
        </tr>

        <tr *ngFor="let reservation of room.Reservations">
          <td>{{reservation.From}}</td>
          <td>{{reservation.To}}</td>
          <td>{{reservation.Cost}}</td>
          <td *ngIf="reservation.Status === 'Reserved'" style="color: limegreen"> <b>{{reservation.Status}} </b></td>
          <td *ngIf="reservation.Status !== 'Reserved'" style="color: orange"> <b>{{reservation.Status}} </b></td>
          <td *ngIf="(hasAdminRole || hasUserRole) ">
            <button *ngIf="reservation.Status === 'Reserved'" class="btn btn-warning" (click)="CancelReservation(hotel, room, reservation)">
              Cancel
            </button></td>
          <td *ngIf="hasHotelierRole && (reservation.Status !='Canceled by Hotelier' || reservation.Status !='Canceled')"><button *ngIf="reservation.Status === 'Reserved'" class="btn btn-warning" (click)="CancelReservationByHotelier(hotel, room, reservation)">Cancel</button></td>
          <td *ngIf="hasAdminRole && myReservations === false"><button class="btn btn-danger" (click)="DeleteReservation(hotel, room, reservation)">Delete</button></td>
        </tr>

      </table>
      <br>

    </div>

  </div>

</div>
