.container-fluid {
    padding: 50px;
  float:left;
}
.inline {
    display: inline-block
}

.details{
  padding-top: 30%;
  padding-left: 5%;
}

.comment{
  padding: 20px;
  border: 2px solid red;
  border-radius: 12px;
}

.image{
  position: absolute;
  right: 10px;
}

.control{
   padding-left: 50px;
}


.label{
  text-align: right;
  clear: both;
  float:left;
  margin-right:15px;
}

