<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <form class="form">

        <div class="form-control">
          <div class="form-group row" >
            <div>
              <strong class="control" >{{room.type}}</strong>
            </div>
          </div>
        </div>

        <div class="form-control">
          <div class="form-group row" >
            <div>
              <strong class="control" id="name">{{room.type}} Name: {{room.name}}</strong>
            </div>
          </div>
        </div>

        <div class="form-control">
          <div class="form-group row" >
            <div>
              <strong class="control" id="stars">{{room.type}} Stars: {{room.stars}}</strong>
            </div>
          </div>
        </div>

        <div class="form-control">
          <div class="form-group row" >
            <div>
              <strong class="control" id="score">Avg Score: {{room.avgScore}}</strong>
            </div>
          </div>
        </div>

        <div class="form-control">
          <div class="form-group row" >
            <div>
              <strong class="control" id="region">Region: {{room.region}}</strong>
            </div>
          </div>
        </div>

        <div class="form-control">
          <div class="form-group row" >
            <div>
              <strong class="control" id="city">City: {{room.city}}</strong>
            </div>
          </div>
        </div>

        <div class="form-control">
          <div class="form-group row" >
            <div>
              <strong class="control" id="street">Street: {{room.street}}</strong>
            </div>
          </div>
        </div>


        <div class="form-control">
          <div class="form-group row" >
            <div>
              <strong class="control" id="RoomSize">Room Size: {{room.RoomSize}}</strong>
            </div>
          </div>
        </div>

        <div class="form-control">
          <div class="form-group row" >
            <div>
              <strong class="control" id="RoomBeds">Room Beds: {{room.RoomBeds}}</strong>
            </div>
          </div>
        </div>

        <div class="form-control">
          <div class="form-group row" >
            <div>
              <strong class="control" id="RoomPrice">Room Price: {{room.RoomPrice}}</strong>
            </div>
          </div>
        </div>

        <div class="form-control">
          <div class="form-group row" >
            <div>
              <strong class="control"> Vip Room:
                <span class="glyphicon glyphicon-ok" *ngIf="room.RoomVip === true"></span>
                <span class="glyphicon glyphicon-remove" *ngIf="room.RoomVip === false"></span>
              </strong>
            </div>
          </div>
        </div>


        <div class="form-control">
          <div class="form-group row" >
            <div>
              <strong class="control" id="extras">Extras: {{room.extras}}</strong>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="col-sm-6 text-left">

      <div style="padding-left: 35px">
        <img [src]=image width="800" height="360"><br>

        <div *ngFor="let img of room.images" class="inline">
          <img [src]=img width="160" style="cursor:pointer;" height="88" (click)="loadImg(img)">
        </div>
      </div>
      <br>
      <hr>

      <div class="form-inline">
        <div class="form-group col-md-3">
          <label for="dateFrom">Start Date:</label>
          <input id="dateFrom" name="dateFrom" [(ngModel)]="from" type="date" class="form-control" disabled>
        </div>
        <div class="form-group col-md-3">
          <label for="dateTo">End Date:</label>
          <input id="dateTo" name="dateFrom" [(ngModel)]="to" type="date" class="form-control" disabled>
        </div>

        <div class="form-group col-md-3">
          <label for="cost">Cost:</label>
          <input id="cost" name="dateFrom" [(ngModel)]="cost" type="number" class="form-control" disabled>
        </div>

        <div class="form-group col-md-3">
          <br>
          <button type="button" class="btn btn-success btn-block" (click)='reserve()'>Reserve room number {{room.roomid}}</button>
        </div>
      </div>
    </div>

    <div class="col-sm-3 sidenav">

            <div >

              <h2>Rate the hotel and leave a comment!</h2>
              <br>

              <div class="form-group row">
                <div style="padding-left: 190px">
                    <label for="rateScore">Rate:</label>
                    <input type="number" id="rateScore"
                         min="1"
                         max="5"
                         [(ngModel)]="rate" name="rateScore">
                </div>
              </div>

              <div class="form-group">
                <label for="description">Comment:</label>
                <br>
                <textarea type="text"  id="description"
                          [(ngModel)]="description" cols="50" rows="6" name="description">
                </textarea>
              </div>

              <button type="button" style="width: 200px; height: 50px" class="btn btn-success" (click)="Rate()">Rate</button>
            </div>
    </div>
  </div>
</div>

<div style="padding-left: 50px">
  <input class="btn btn-info" style="width: 200px; height: 50px" *ngIf='myHaH || hasAdminRole' (click)='editHaH(room.id,room.roomid)' value='Edit' type='button' />
  <input class="btn btn-warning" style="width: 200px; height: 50px;" onclick='javascript:window.history.back()' value='Back' type='button' />
</div>
<br>
<hr>
<h1 style="padding-left: 50px;"> All Rooms</h1>

<div class="form-inline">
<div *ngFor="let item of hah.Rooms; let i = index;"  >
  
  <div class="container-fluid text-center" *ngIf='item.Visible'>
    <div class="row content2">
      <div class="sidenav" style="width: 400px;">
        <form class="form">
  
         
  
          <div class="form-control ">
            <div class="form-group row otherRooms" >
              <div>
                <strong class="control" >Room Size: {{item.Size}}</strong>
              </div>
            </div>
          </div>
  <br>
          <div class="form-control">
            <div class="form-group row otherRooms" >
              <div>
                <strong class="control" >Room Beds: {{item.NumberOfBeds}}</strong>
              </div>
            </div>
          </div>
          <br>
          <div class="form-control">
            <div class="form-group row otherRooms" >
              <div>
                <strong class="control" >Room Price: {{item.Price}}</strong>
              </div>
            </div>
          </div>
          <br>
          <div class="form-control">
            <div class="form-group row otherRooms" >
              <div>
                <strong class="control"> Vip Room:
                  <span class="glyphicon glyphicon-ok" *ngIf="item.Vip === true"></span>
                  <span class="glyphicon glyphicon-remove" *ngIf="item.Vip === false"></span>
                </strong>
              </div>
            </div>
          </div>
          <br>
          <button type="button" class="btn btn-primary" style="width: 375px;" (click)="seeDetails(hah._id,item.Number)">Details</button>
  
        </form>
      </div>
  </div>
  </div>
  </div>
</div>

<footer class="container-fluid text-center">

  <h1>Comments section</h1>
  <div mdbTableCol *ngFor="let el of hah.Scores">
    <div class="comment">
      <div style="float: right"> {{"Date: " + el.Date}}</div>
      <div style="float: left"> {{'Score: ' + el.Score }}</div>
      <br>
      <div style="float: left">Added by: {{el.Name + ' ' + el.Surname}}</div>
      <br>
      <div style="float: left">Comment: {{el.Description}}</div>
      <button *ngIf="hasAdminRole" style="float: right" class="btn btn-danger" (click)="DeleteComment(el)">Delete</button>
      <br>
    </div>
    <br>
  </div>

</footer >

</body>
</html>
